<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p style="text-indent:2em">
  We're two young computer engineers who wanted to create a tool to be able to discuss any idea with a lot of people, without the drawbacks of having to read each and every message that doesn't necessarily interest us. As long as each human has his own ideas, concepts, and way of thinking, we believe that if everyone can choose the "path of conversation" that interest him in a given discussion, everyone should find something interesting in a discussion here.  
</p>

<p style="text-indent:2em">
 Well, at least we hope to :)
</p>
