<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact us on the <a href="http://brainsteamblog.tumblr.com/">Dev'Blog</a> comments (yeah, this isn't very handy, but you'll have to deal with it)
</p>
