<div class="center hero-unit">
  <h1>Welcome to Brainsteam</h1>

  <h2>
    Discover, create and share (crazy) ideas with other (crazy) humans.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%#= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
