


<div class="answers_count" id="answers_count_<%= obj_id %>">
  <small>
    <% str =  obj_type == Threadhead.to_s ? 'total of answers' : 'answers' %>
    <%= image_tag 'answers.png', alt: str, title: str %>
    <%= " : #{count}" %>
  </small>
</div>
