
<tr class= "message_overview message">
  <td class="author_avatar">
    <%= gravatar_for message_overview.user, size: 20 %>
  </td>
  <td class="message_title">
    <%= message_overview.title %>
  </td>

</tr>
