


<div class="homeview_table" id="homeview_table_<%= tag_name.sub(' ', '_') %>">

  <div class="homeview_header">
    <div class="homeview_header_text">
      Top five conversations from
    </div>
    <%= render ThreadTag.find_by(name: tag_name) %>
  </div>

  <small>
      <table class="homeview_table table table-striped table-hover table-bordered">
        <tbody>
          <%= render partial: 'threadheads/threadhead_homeview',
                               collection: Threadhead.joins(:thread_tags)
                                                .where("thread_tags.name = '#{tag_name}'")
                                                .sort_by_views
                                                .limit(5) %>
        </tbody>
      </table>
  </small>

</div>
