<tr class="threadhead">

    <td class="thread_tags">
      <%= render threadhead.thread_tags%>
    </td>
    <td class="threadhead_title">
      Id: <%= threadhead.id %>
    </td>
    <td class="links">
      <%= link_to "view thread", threadhead_path(threadhead)%>

      <% if signed_in? && current_user.admin? %>
        | <%= link_to "delete", threadhead, method: :delete, data: {confirm: "You sure ?" } %>
      <% end %>


    </td>

</tr>
