<% provide(:title, @threadhead.first_message.title) %>
<div class="row">
  <aside class="span5">
    <section>
      <h1>
         <%= @threadhead.first_message.title %>
      </h1>
      <div class= "thread_head_body" %>
        <div class="thread_tags" >
         <%= render @thread_tags %> 
        </div>
        <div class="thread_content">
          <%= @threadhead.user.name %>
          <%= @threadhead.first_message.text %>
        </div>
      </div>
    </section>
  </aside>
</div>
