<% provide(:title, @threadhead.first_message.title) %>

<div class= "thread_body" >
  
  <div class="thread_tags" >
    <%= render @thread_tags %> 
  </div>

  <%= render @threadhead.first_message %>

</div>
