<% provide(:title, @threadhead.first_message.title) %>

<div class= "thread_body" >
 
  <% if signed_in? %>
 
    <%= render @treenodes %>

  <% else %>
    
    <%= render @threadhead %>
    <%= render @threadhead.first_message %>

  <% end %>

</div>
