<% provide(:title, @threadhead.first_message.title) %>

<div class= "thread_body" >
 
  <% if signed_in? %>

    <%= render @threadhead %>

    <table>
    <% nodes_in_matrix(@treenodes).each do |row| %>
      
      <tr class='row'> 
        <% row.each do |node| %>

          <td>
            <% if node.nil? %>
              <div class='empty_treenode treenode' ></div>
            <% else %>
              <%= render(node) %>
            <% end %>
          </td>

        <% end %>
      </tr>

    <% end %> 
    </table>

  <% else %>
    
    <%= render @threadhead %>
    <%= render @threadhead.first_message %>

  <% end %>

</div>
