
// MESSAGES

.first_message {
  background-color: #dddddd !important;
}

.message {
  background-color: #eeeeee;
  padding: 10px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 500px; 
  //height: 230px;

  .message_form { 
    .btn {
      float: left;
      margin-right: 5px;
      margin-bottom: 5px;
    }
    .new_message {
      margin: 0px;
    }
    #message_title {
      margin-bottom: 5px;
    }
    #message_text {
      margin: 0px;
    }
  }
 
  #message_title {
    //float: right;
    //margin-left: 130px;
    //size: auto;
  }

  hr {
    margin: 8px;
  }
}

.message_headbar {
  //height: 50px;
}

.message_text {
  padding-left: 10px;
  padding-right: 10px;
 
}

.message_titles {
  padding-left: 10px;
  padding-right: 10px;

  .message_title h4 {
    margin: 0px;
  }
  
  .message_subtitles {
    height: 20px;
  }

  .creation_time {
    float: left;
  }

  .unread_message {
    float: right;
    
    .btn {
      padding: 0px 8px 2px 8px;
      margin-right: -10px;
    }
  }

}

.message_footer {
  height: auto;
  
  .toggle_answers {
    float: right;
  }

  .toggle_form {
   // float: left;
  }

}

.message_author {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  height: 50px;
  float: left;

  .author_avatar {
     
  }
}

//MESSAGE OVERVIEW

.message_answers {
  width: 520px;
  margin-top: 5px;
  margin-bottom: 5px;  
  
  table {
    margin: 0px;
  } 

  .table_scroll {
    height:152px;
    overflow-y: auto; 
  } 

  .message_title * {
    margin: 0px;
  }

  .author {
    width: 180px;
    .author_avatar {
      float: left;
    }

   .author_name {
      float: left;
      margin-left: 5px;
    }
  }


}









