
// MESSAGES INDICATORS

.answers_count {
  float: right;
  margin-right: 5px;
  * {
   float: left;
   margin-right: 2px;
  }
}

.readers_count {
  float: right;
  margin-right: 5px;
  * {
    float: left;
    margin-right: 2px;
  }
  img {
   margin-top: 3px;
  }
}


// MESSAGES

.first_message {
  background-color: #dddddd !important;
}

.message {
  background-color: #eeeeee;
  padding: 10px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 500px; 

  .message_edit {

    .edit_message {
      margin: 0px
    }

    #submit_edit {
      float: right;
    }

    #message_title {
      margin-bottom: 5px;
    }

    #message_text {
      margin-bottom: 5px;
    }

  }

  .message_form { 
    .submit_answer_button {
      float: right;
    }
    .new_message {
      margin: 0px;
    }
    #message_title {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    #message_text {
      margin-bottom: 5px;
    }
  }

  hr {
    margin: 8px 0px 8px 0px;
  }
}

.message_headbar {
  //height: 50px;
}

.message_text {
  margin-bottom: 5px;
  overflow-y: auto;
  height: 250px;
  width: 480px;
  word-wrap: break-word;
 
}

.message_titles {

  .message_title h4 {
    margin: 0px;
    width: 480px;
    word-wrap: break-word;
  }
  
  .message_subtitles {
    height: 30px;
    margin-bottom: 5px;
  }

  .date_views_answer_subtitle {
    height: 20px;
    float: right;
    margin-top: 2px;
  }

  .creation_time {
    float: right;
    margin-right: 5px;
  }

  .unread_message {
    float: right;
    
    .btn {
      padding: 0px 8px 2px 8px;
    }
  }

}

.message_footer {
  height: auto;
  
  .toggle_answers {
    float: right;
  }

}

.message_author {
  float: left;

  .author_avatar {
    float: left;
  }
  .author_name {
    float: left;
    margin-left: 5px;
    margin-top: 2px;
    //width: 230px;
    //word-wrap: break-word;
  }
}

//MESSAGE OVERVIEW

.message_answers {
  width: 520px;
  margin-top: 5px;
  margin-bottom: 5px;  
  
  table {
    margin: 0px;
  } 

  .table_scroll {
    height:152px;
    overflow-y: auto; 
  } 

  .message_title {
    input {
      padding: 0px;
      text-align:left;
      width: 350px;
      word-wrap: break-word;
    }

    * {
      margin: 0px;
    }
  }

  .already_read_answer {
    color: grey !important;
    width: 350px;
    word-wrap: break-word;
  }

  .author {
    width: 20px;
    .author_avatar {
      float: left;
    }

   .author_name {
      float: left;
      margin-left: 5px;
    }
  }


}









