// Place all the styles related to the Threadheads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//NEW THREAD
form.new_threadhead {
  input {
   margin-bottom: 5px;
   margin-right: 5px;
  }
}


//THREAD HEAD
.thread_head {
  margin-bottom: 5px;
  margin-left: 5px;
  width: 520px;
  height: 30px;

  .thread_tags {
    float: left;
    margin-top: 5px;
  }

  .scroll_to {
    float: right;
    margin-left: 5px;
  }
 }


//INDEX OF THREADS

.select-filter {
  width: inherit;
}

#right-btn {
  float: right;
}

.thread_tags {
  width: 75px;
}

.thread_titles {

  .thread_title {
    width: 620px;
    word-wrap: break-word;
  }

  .last_message_date {
    float: left;
    color: grey;
  }
}

.thread_author { 
  width: 190px;
 
  .thread_author_name {
   float: left;
   width: 160px;
   word-wrap: break-word;
  }
  
  .thread_author_gravatar {
    float: left;
    margin-right: 10px;
  }
}

.thread_indicators {
  width: 103px;
}

.admin_links {
  //width: 100px;
}

.filter_menu_part {
  float: left;
  margin-right: 7px;
  vertical-align: middle;

  .thread_tag {
    margin-top: 5px;
  }
}

// TREE DISPLAY

.row {
  vertical-align: top;
 }

.empty_treenode {
  width: 520px;
  height: 142px;
  //background-color: #eeeeee;
 }

.treenode {
  margin-left: 5px;
  //margin-bottom: 5px;
 }

.treelink {
  height: 16px;
  margin-left: 5px;

  .half {
    height: 9px !important;
    margin-top: 7px;
  }

  .no_left {
    margin-left: 260px !important;
  }

  .empty_node {
    height:2px !important;
    margin-top: 7px;
  }

  .vertical_treelink {
    width: 2px;
    height: 16px;
    float: left;
    background-color: black;
  }

  .left {
   margin-left: -7px;
   width: 267px !important; 
  }

  .horizontal_treelink { 
    width: 258px;
    height: 2px;
    float: left;
    background-color: black;
    margin-top: 7px;
  }

}


// THREADHEAD HOMEVIEW

.homeview_header {
  margin-bottom: 10px;
  height: 25px;

  .thread_tag {
   margin-left: 10px;
   margin-top: 5px;
  }

  * {
   float: left;
  }
}

.homeview_tables {
  margin-top: 20px;
  height: 210px;

  #homeview_table_Real_world {
    float: left;
  }
  #homeview_table_Crazy_stuff {
    float: right;
  }
}

.homeview_table {
  width: 400px;
}

.threadhead_homeview {

  .homeview_author {
    width: 18px;
  }

  .homeview_title {
  }
}
