
.thread_tag {

  color: white;
  padding: 0px 10px 0px 10px;
  margin: 0px;
  font-size: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
  //width: 62px;
  line-height: 20px;
  display: inline-block;
}

#thread_tag_n1 { //Real world  
  background-color: #00CC00; 
}

#thread_tag_n2 { //Crazy stuff
  background-color: #FF9933;// #FF9900;
}

#thread_tag_n3 { //Brainsteam
  background-color: #0099CC;
}
