
.thread_tag {

  color: white;
  padding: 0px 5px 0px 8px;
  margin: 0px;
  font-size: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
  width: 62px;

}

#thread_tag_1 { //Real world  
  background-color: #009933; 
}

#thread_tag_2 { //Crazy stuff
  background-color: #FF9933;// #FF9900;
}

#thread_tag_3 { //Brainsteam
  background-color: #0099CC;
}
