// Place all the styles related to the Threadheads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//INDEX OF THREADS

.select-filter {
  width: inherit;
}

#right-btn {
  float: right;
}

.thread_tags {
  width: 75px;
}

.thread_author { 
  width: 180px;

  .gravatar {
    float: left;
    margin-right: 10px;
  }
}
.admin_links {
  //width: 100px;
}

.filter_menu_part {
  float: left;
  margin-right: 7px;
  vertical-align: middle;

  .thread_tag {
    margin-top: 5px;
  }
}
